@import './base.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

*{
  font-family: "Poppins", sans-serif;
  color: white;
  text-transform: uppercase;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

